* { font-family: sans-serif; }

:root {
  --deltaX: 1em;
  --deltaY: 0.2em;
  --smallDeltaX: 0.2em;
  --menuPaddingY: 0.3em;
  --border: solid thin darkGray;
  --disabledOpacity: 0.6;
  --focusFrameThickness: 2px;
  --focusFrameOffset: 2px;
  --focusFrameRadius: 6px;
  --focusFrameColor: black;
}

a.help { margin-left: 3em; }
main {
  border-top: var(--border);
  border-bottom:  var(--border);
}
main, header, footer {
  padding: var(--deltaX);
  padding-top: var(--deltaY);
  padding-bottom: var(--deltaY);
}

header section:not(:first-of-type) { margin-left: 2em; }
section { display: inline-block; }
#menu { display: none; }
#menu > option { padding-top: var(--menuPaddingY); padding-bottom: var(--menuPaddingY);}
#menu > option:disabled { font-weight: lighter; opacity: var(--disabledOpacity); }
select { overflow-y: auto; }
button { border-radius: var(--focusFrameRadius); }

select, input { border: solid thin gray; margin-top: 4px; }
select:disabled { opacity: var(--disabledOpacity); }
select:focus { outline: solid var(--focusFrameThickness) var(--focusFrameColor); outline-offset: var(--focusFrameOffset); }
select#menu { outline: none; border: solid thin gray; }
button { border: solid thin gray; }
button#buttonStartStop { padding-top: var(--deltaY); padding-bottom: var(--deltaY);
  border: solid thin hsl(203, 60%, 60%, 100%); }
button#buttonStartStop { background-color: hsl(203, 60%, 80%, 100%); }
button#buttonStartStop:hover { background-color:hsl(203, 100%, 90%, 100%); }
button#buttonStartStop:active { background-color: hsl(203, 60%, 60%, 100%); color: lightYellow; }
button#buttonStartStop:focus { outline: solid var(--focusFrameThickness) var(--focusFrameColor); outline-offset: var(--focusFrameOffset); }

option, input, button, .tooltip { padding-left: var(--deltaX); padding-right: var(--deltaX); }
.tooltip { background-color: seashell; border: solid thin darkgoldenrod;
  pointer-events: none !important;
  font-size: 80%; color: gray; border-radius: 3px;
  padding-top: 0.6em; padding-bottom: 0.6em; }
.tooltip table { border-collapse: collapse; }
.tooltip table, td { border: thin solid black; }
.tooltip td { width: 1.2em !important; height: 1.2em !important; text-align: center; }
#button-activate-menu {
  position: absolute; right: 3px; top: 3px;
  background-color: transparent;
  font-size: 120%; border: none; font-weight: bolder;
}
#button-activate-menu:hover, #button-activate-menu:focus { background-color: lightGray; }
p { margin-bottom: 0.4em; }

p.message { display:flex; margin-top: 1em; flex-wrap:nowrap; }
p.message #message { flex-grow:1; text-align:center; margin-right: 2em; }
p.message #score, p.message span:last-of-type { white-space: nowrap; }

dialog.error > section:first-of-type { color: red; }
