table { border-collapse: collapse; }
table, td { border: thin solid black; }
table:focus { outline: 2px solid blue; outline-offset: 1px; }
td.selected { background-color: lightskyblue; }
table:focus td.selected { background-color: aqua; }
td {
    background-color: snow;
    font-family: monospace;
    width: 1.6em;
    height: 1.6em;
    text-align: center;
    vertical-align: center;
}
td.non-selectable { background-color: steelblue; color: yellow; }

